function Game.new 0
push constant 10
call Memory.alloc 1
pop pointer 0
call UI.new 0
pop this 0
push constant 500
call Board.new 1
pop this 1
push pointer 0
call Game.initializePieces 1
pop temp 0
push constant 2
pop this 2
push constant 1
neg
pop this 3
push constant 1
neg
pop this 4
push constant 6
pop this 5
push constant 0
pop this 6
push constant 0
not
pop this 7
push constant 0
pop this 8
push pointer 0
return
function Game.initializePieces 2
push argument 0
pop pointer 0
push constant 8
call Array.new 1
pop this 9
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 8
eq
not
not
if-goto WHILE_END0
push local 0
push this 9
add
push constant 8
call Array.new 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 6
push this 9
add
pop pointer 1
push that 0
pop local 1
push constant 0
push local 1
add
push constant 6
push constant 0
push constant 0
push constant 1
call Piece.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 9
add
pop pointer 1
push that 0
pop local 1
push constant 1
push local 1
add
push constant 7
push constant 1
push constant 0
not
push constant 1
call Piece.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Game.dispose 4
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push constant 8
eq
not
not
if-goto WHILE_END0
push local 0
push this 9
add
pop pointer 1
push that 0
pop local 2
label WHILE_EXP1
push local 1
push constant 8
eq
not
not
if-goto WHILE_END1
push local 1
push local 2
add
pop pointer 1
push that 0
pop local 3
push local 3
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 3
call Piece.dispose 1
pop temp 0
label IF_FALSE0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 1
push local 2
call Array.dispose 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 9
call Array.dispose 1
pop temp 0
push this 1
call Board.dispose 1
pop temp 0
push this 0
call UI.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Game.run 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
not
not
if-goto WHILE_END0
push pointer 0
call Game.draw 1
pop temp 0
push pointer 0
call Game.input 1
pop temp 0
call Timer.tick 0
pop temp 0
call Timer.getElapsedTime 0
call Debug.printInt 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.draw 0
push argument 0
pop pointer 0
push this 1
push this 7
push this 5
push this 6
push this 3
push this 4
push this 9
call Board.draw 7
pop temp 0
push this 0
push this 7
push this 2
call UI.draw 3
pop temp 0
push constant 0
pop this 7
push constant 0
return
function Game.input 4
push argument 0
pop pointer 0
call Keyboard.keyPressed 0
pop local 3
push this 8
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 3
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop this 8
goto IF_END1
label IF_FALSE1
push constant 0
return
label IF_END1
label IF_FALSE0
push local 3
push constant 0
eq
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
pop this 7
push constant 0
not
pop this 8
push local 3
push constant 130
eq
push this 6
push constant 0
eq
not
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 6
push constant 1
sub
pop this 6
push constant 0
return
label IF_FALSE3
push local 3
push constant 131
eq
push this 5
push constant 0
eq
not
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 5
push constant 1
sub
pop this 5
push constant 0
return
label IF_FALSE4
push local 3
push constant 132
eq
push this 6
push constant 7
eq
not
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 6
push constant 1
add
pop this 6
push constant 0
return
label IF_FALSE5
push local 3
push constant 133
eq
push this 5
push constant 7
eq
not
and
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 5
push constant 1
add
pop this 5
push constant 0
return
label IF_FALSE6
push local 3
push constant 32
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
call Game.isNothingSelected 1
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 5
push this 9
add
pop pointer 1
push that 0
pop local 0
push this 6
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
push constant 0
eq
not
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push pointer 0
push local 1
call Game.canSelectPiece 2
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push this 5
pop this 3
push this 6
pop this 4
label IF_FALSE10
label IF_FALSE9
goto IF_END8
label IF_FALSE8
push pointer 0
call Game.isHoveredSameAsSelected 1
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push constant 1
neg
pop this 3
push constant 1
neg
pop this 4
goto IF_END11
label IF_FALSE11
push this 3
push this 9
add
pop pointer 1
push that 0
pop local 0
push this 4
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
push constant 0
eq
not
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push pointer 0
push local 1
push this 5
push this 6
call Game.movePiece 4
pop temp 0
label IF_FALSE12
label IF_END11
label IF_END8
push constant 0
return
label IF_FALSE7
label IF_FALSE2
push constant 0
return
function Game.movePiece 2
push argument 0
pop pointer 0
push argument 2
push this 9
add
pop pointer 1
push that 0
pop local 0
push argument 3
push local 0
add
pop pointer 1
push that 0
pop local 1
push argument 1
push this 9
push local 1
push argument 2
push argument 3
call Piece.canMoveTo 5
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 1
push constant 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
call Piece.dispose 1
pop temp 0
label IF_FALSE1
push argument 1
push argument 2
call Piece.setRowIndex 2
pop temp 0
push argument 1
push argument 3
call Piece.setColumnIndex 2
pop temp 0
push argument 3
push local 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 3
push this 9
add
pop pointer 1
push that 0
pop local 0
push this 4
push local 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
push argument 1
push argument 2
call Game.promoteIfNeeded 3
pop temp 0
push constant 1
neg
pop this 3
push constant 1
neg
pop this 4
push this 2
push constant 1
add
pop this 2
push constant 0
return
function Game.promoteIfNeeded 0
push argument 0
pop pointer 0
push argument 1
call Piece.getType 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
call Piece.getIsWhite 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 2
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
push constant 5
call Piece.setType 2
pop temp 0
label IF_FALSE2
goto IF_END1
label IF_FALSE1
push argument 2
push constant 7
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push argument 1
push constant 5
call Piece.setType 2
pop temp 0
label IF_FALSE3
label IF_END1
label IF_FALSE0
push constant 0
return
function Game.isHoveredSameAsSelected 0
push argument 0
pop pointer 0
push this 5
push this 3
eq
push this 6
push this 4
eq
and
return
function Game.isNothingSelected 0
push argument 0
pop pointer 0
push this 3
push constant 1
neg
eq
push this 4
and
push constant 1
neg
eq
return
function Game.canSelectPiece 0
push argument 0
pop pointer 0
push argument 1
call Piece.getIsWhite 1
push this 2
call Util.isOdd 1
eq
return
