function Knight.canMoveTo 1
push constant 0
return
function Knight.drawWhiteOnWhite 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 288
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 16384
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 12288
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 18432
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 9216
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 22528
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 16384
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 8192
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 704
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 736
add
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 545
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 577
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 609
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 641
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 673
add
push constant 24
call Memory.poke 2
pop temp 0
push local 0
push constant 705
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 737
add
push constant 127
call Memory.poke 2
pop temp 0
push constant 0
return
function Knight.drawWhiteOnBlack 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 288
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 18431
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 10239
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 704
add
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 32
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 32
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 32
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 545
add
push constant 32
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 577
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 609
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 641
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 673
add
push constant 32
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 705
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Knight.drawBlackOnWhite 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 288
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 18432
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 10240
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 704
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 545
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 577
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 609
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 641
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 673
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 705
add
push constant 63
call Memory.poke 2
pop temp 0
push constant 0
return
function Knight.drawBlackOnBlack 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 288
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 16385
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 12289
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4097
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 18433
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1025
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 9217
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 22529
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 16385
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 8193
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 4097
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 704
add
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 9
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 17
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 17
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 33
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 33
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 33
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 17
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 545
add
push constant 17
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 577
add
push constant 9
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 609
add
push constant 5
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 641
add
push constant 5
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 673
add
push constant 25
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 705
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push constant 0
return
