function Ball.new 6
function Ball.dispose 0
function Ball.show 0
function Ball.hide 0
function Ball.draw 0
function Ball.getLeft 0
function Ball.getRight 0
function Ball.setDestination 2
function Ball.move 0
function Ball.bounce 1