function Bat.new 4
function Bat.dispose 0
function Bat.show 0
function Bat.hide 0
function Bat.draw 0
function Bat.setDirection 1
function Bat.getLeft 0
function Bat.getRight 0
function Bat.setWidth 1
function Bat.move 0